<h1>Editing restaurant pizza</h1>

<%= render "form", restaurant_pizza: @restaurant_pizza %>

<br>

<div>
  <%= link_to "Show this restaurant pizza", @restaurant_pizza %> |
  <%= link_to "Back to restaurant pizzas", restaurant_pizzas_path %>
</div>
